:root {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    background-color: #bca3a4;
}

header {
    text-align: center;
    padding: 2px;
    background-color: #a2b7b2;
    border-style: outset;
    border-radius: 50em;
    margin: 3em;
}

div {
    background-color: rgba(98, 197, 195, 0.651);
    width: 300px;
    border: 0.5em ridge;
    padding: 50px;
    border-radius: 3em;
    
}

h3 {
    text-align: center;
    padding: 4px;
    margin: 6px;
    background-color: #a2b7b2;
    border-radius: 300em;
    border-style: outset;
}

